@import '../../abstracts/_sys.scss';
@import '../../abstracts/_variables.scss';
@import '../../abstracts/_mixins.scss';

header{
    // @media screen and (max-width: 1024px) {
    //     display: none;
    // }

    @include screenbreak('medium') {
        display: none;
    }   
}

.header-block{
    // max-width: var(--desktop-maxWidth);
    // width: 100%;
    // margin: 0 auto;

    // display: flex;
    // align-items: center;
    // justify-content: space-between;


    // h1{
    //     padding-left: 2rem;
    // }    


    // для ширины здесь использовано значение, указанное в "%", если в качестве единицы
    // измерения установить "vw", то произойдёт "переполнение" ширины и появится горизонтальная 
    // прокрутка
    @include set-as-section('large', 100%, 0, false);

    display: flex;
    align-items: center;
    justify-content: space-between;    

    h1{
        padding-left: 2rem;
    }

    @include showborders;
}