/* 
*****************************************************************************************************
    Блок "Заголовок"
*****************************************************************************************************    
 */
@import url(/blocks/header-block/header-block.css);
@import url(/blocks/header-block/__title/header-block__title.css);
/* 
*****************************************************************************************************
    Блок "Меню"
*****************************************************************************************************    
 */
@import url(/blocks/main-menu/main-menu.css);
@import url(/blocks/main-menu/__item/main-menu__item.css);
/* 
*****************************************************************************************************
    Блок "Hero"
*****************************************************************************************************    
 */
@import url(/blocks/hero-block/hero-block.css);
@import url(/blocks/hero-block/__content/hero-block__content.css);
@import url(/blocks/hero-block/__title/hero-block__title.css);
@import url(/blocks/hero-block/__text/hero-block__text.css);
/* 
*****************************************************************************************************
    Статья "Biography"
*****************************************************************************************************    
 */
@import url(/blocks/biography-block/biography-block.css);
@import url(/blocks/biography-block/__section/biography-block__section.css);
@import url(/blocks/biography-block/__item/biography-block__item.css);
@import url(/blocks/biography-block/__item-desc/biography-block__item-desc.css);
@import url(/blocks/biography-block/__item-title/biography-block__item-title.css);
@import url(/blocks/biography-block/__item-cit/biography-block__item-cit.css);
@import url(/blocks/biography-block/__item-shortline/biography-block__item-shortline.css);
@import url(/blocks/biography-block/__item-text/biography-block__item-text.css);
@import url(/blocks/biography-block/__item-img/biography-block__item-img.css);
/* 
*****************************************************************************************************
    Статья "Designers"
*****************************************************************************************************    
 */
@import url(/blocks/designers-block/designers-block.css);
@import url(/blocks/designers-block/__title/designers-block__title.css);
@import url(/blocks/designers-block/__content/designers-block__content.css);
/* 
*****************************************************************************************************
    Статья "Testimonials"
*****************************************************************************************************    
 */
@import url(/blocks/testimonials-block/testimonials-block.css);
@import url(/blocks/testimonials-block/__content/testimonials-block__content.css);
@import url(/blocks/testimonials-block/__item/testimonials-block__item.css);
@import url(/blocks/testimonials-block/__item-1/testimonials-block__item-1.css);
@import url(/blocks/testimonials-block/__item-2/testimonials-block__item-2.css);
@import url(/blocks/testimonials-block/__item-3/testimonials-block__item-3.css);
@import url(/blocks/testimonials-block/__item-4/testimonials-block__item-4.css);
@import url(/blocks/testimonials-block/__item-5/testimonials-block__item-5.css);
@import url(/blocks/testimonials-block/__item-6/testimonials-block__item-6.css);
/* 
*****************************************************************************************************
    Статья "Strong_points"
*****************************************************************************************************    
 */
@import url(/blocks/strong-points-block/strong-points-block.css);
@import url(/blocks/strong-points-block/__title/strong-points-block__title.css);
@import url(/blocks/strong-points-block/__content/strong-points-block__content.css);
@import url(/blocks/strong-points-block/__item/strong-points-block__item.css);
@import url(/blocks/strong-points-block/__item-3/strong-points-block__item-3.css);
/* 
*****************************************************************************************************
    Подвал (footer)
*****************************************************************************************************    
 */ 
@import url(/blocks/footer-block/footer-block.css);
@import url(/blocks/footer-block/__contacts/footer-block__contacts.css);
@import url(/blocks/footer-block/__phone/footer-block__phone.css);
@import url(/blocks/footer-block/__mail/footer-block__mail.css);
@import url(/blocks/footer-block/__logo/footer-block__logo.css);
@import url(/blocks/footer-block/__pricing/footer-block__pricing.css);
/* 
*****************************************************************************************************
    Подключаемая область
*****************************************************************************************************    
 */ 
@import url(/blocks/win/win.css);


/*
    Здесь использовался тэг "html" т.к. таким образом проще всего задать "опорное" значение для свойства "font-size". 
    Это значение удобно использовать в font-ориентированных классах как единицу (1rem)
*/
html{
    font-size: 62.5%; /*10px*/

    /* "Базовое" значение ширины сайта (значение по макету) = 1440px = 144rem */

    --mobil-margin-top: 80px;
    --desktop-margin-top: 150px;
    --mobil-maxWidth: 1024px; /* iPadPro - 1024 X 1366 */
    --desktop-maxWidth: 1440px;

    /* основной цвет*/
    --mainColor: rgba(255, 255, 255, 1);  /* белый */

    /* чтобы при блокировании прокрутки (overflow: hidden) скролл не исчезал */
    scrollbar-gutter: stable; 

    /* 
        привязываем свойство "цвет подложки" (background-color) к основному цвету, чтобы при блокировании 
        (см. класс .scroll-locked) изменение переменной привело к его изменению 
        Примечание: к этй переменной привязаны и ряд других свойств
    */
    background-color: var(--mainColor);
}

/*
    Здесь использовался тэг "body" для задания значений "по-умолчанию" для ряда наследуемых свойств
*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 2.813rem;

    /*  
        так сбрасываем стандартные отступы и центрируем сайт  
    */    
    margin: 0 auto;
}

/* 
    так сбрасываем стандартный стиль ссылок (тэг <a></a>) 
*/
a{
    text-decoration: none;
    color: black;
}

/* scroll-locked - класс-блокировщик прокрутки страницы - подробнее см. <script> */
.scroll-locked {
    overflow: hidden;
    --mainColor: rgba(230, 230, 230, 1);
}