.biography-block__item-desc{
    left: calc(48% + 100px);
    top: 440px;
    height: 50px;
    min-width: calc(52% - 100px);
    max-width: calc(52% - 100px);
    padding-left: 5rem;

    font-family: 'Roboto';
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.109rem;

    p{
        margin: 0;
    }
    p:nth-child(1){
        display: block;
    }    
    p:nth-child(2){       
        display: none;
    }

    @media screen and (max-width: 1024px){
        flex-basis: 50%; /* т.к. flex-direction = row, то таким образом задаём ширину элемента */
        height: 15%;
        max-width: 100%;
        padding-left: 1rem;

        p:nth-child(1){
            display: none;
        }    
        p:nth-child(2){
            display: block;
        }        
    }  
}