.testimonials-block__item-5{
    grid-area: 1 / 7 / 4 / 7;
    h2{
        --tW: calc(var(--cBlockHeight));
        --tH: 2rem;
        --tXY: calc( (var(--tH) - var(--tW))/2 );        

        margin: 0;
        margin-left: var(--tH);
        text-align: right;

        width: var(--tW); 
        height: var(--tH);
        transform: rotate(-90deg) translateX(var(--tXY)) translateY(var(--tXY));

        font-family: 'Roboto';
        font-size: 2.4rem;
        font-weight: 700;
    }

    @media screen and (max-width: 1024px) {
        grid-area: top;
    
        h2{
            transform: none;
            width: 100%;
            height: 100%;
            padding-top: 3rem;
            
        }  
    }      
}