.designers-block{
    /* объявляем собственные параметры */
        --cBlockHeight: 677px;
        --outline: 0px;
    
        display: flex;
        flex-direction: column;
        /* 
            Этот раздел по ширине не ограничен - 100%, высота по макету - 677px
        */    
        max-width: var(--desktop-maxWidth);
        height: var(--cBlockHeight);
        /* Эту инструкцию можно и не указывать, но пусть будет (для "красоты") */
        margin: 0 auto;
        margin-top: var(--desktop-margin-top);
    
        @media screen and (max-width: 1024px) {
            /* меняем размеры */
            max-width: 100%;
            --cBlockHeight: 573px;        
    
            margin: 0; 
            margin-top: var(--mobil-margin-top);  
        }     
        outline: var(--outline) solid limegreen;   
    }

.designers-block > h2{
        margin-left: 13.83rem;
    
        @media screen and (max-width: 1024px) {
            margin-left: 1rem;
        }
    }    