.hero-block{
    /* объявляем собственные параметры */
    --cBlockHeight: 630px;
    --outline: px;

    box-sizing: border-box;
    background-image: url("../../img/inside-weather.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    text-align: center;
    padding-top: 135px;

    max-width: var(--desktop-maxWidth);
    margin: 0 auto;  
    height: var(--cBlockHeight);   

    @media screen and (max-width: 1024px) {
        /* меняем размеры */
        width: 100%;
        --cBlockHeight: 420px;

        /* меняем расположение через отступы */        
        margin-top: 344px;
    }
    outline: var(--outline) solid limegreen;  
}