@import '../../../abstracts/_sys.scss';
@import '../../../abstracts/_variables.scss';
@import '../../../abstracts/_mixins.scss';

.hero-block__content{
    // /* объявляем собственные параметры */
    // --cBlockHeight: 360px;

    // display: inline-block;
    // box-sizing: border-box;    
    // background-color: white;
    // width: 690px;
    // height: var(--cBlockHeight); 
    // padding-top: 110px;   

    // @media screen and (max-width: 1024px) {
    //     /* меняем размеры */
    //     width: 100%;
    //     --cBlockHeight: 344px;

    //     /* ближайший якорь - :root */
    //     position: absolute;

    //     /* меняем расположение */        
    //     top: 0px;
    //     left: 0px;
    // }
    // outline: var(--outline) solid limegreen;  

    @include set-css-var('cBlockHeight', 360px);

    display: inline-block;
    box-sizing: border-box;    
    background-color: white;
    width: 690px;
    height: get-css-var('cBlockHeight'); 
    padding-top: 110px;    
    
    @include screenbreak('medium') {
        // меняем размеры 
        width: 100%;
        @include set-css-var('cBlockHeight', 344px);

        // ближайший якорь - :root 
        position: absolute;

        // меняем расположение
        top: 0px;
        left: 0px;
    }    

    @include showborders; 
}